.inoutCommon {
  display: flex;
  position: relative;
  width: 85%;
  height: max-content;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(43, 45, 54, 0.548);

  $retiro-color: rgb(73, 73, 73);
  $font-size-c: 1.1em;

  .availableInCash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-c;
    font-weight: 500;
    color: $retiro-color;
    margin-bottom: 1em;

    .aic-amount {
      border-radius: 5px;
      padding: 0.2em 0.4em;
      background-color: rgb(219, 241, 219);
      color: rgb(30, 122, 30);
      font-weight: 600;
    }
  }

  h2 {
    color: $retiro-color;
    margin-bottom: 2em;
    font-size: 1.4em;
  }

  .outAmount {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6em;

    span {
      font-size: $font-size-c;
      font-weight: 500;
      color: $retiro-color;
    }
    .outA-sep {
      display: flex;
      align-items: center;
      p {
        margin-right: 4px;
        font-size: $font-size-c;
        color: $retiro-color;
        font-weight: 500;
      }
      input {
        width: 4em;
        font-size: $font-size-c;
        padding: 0.2em 0.4em;
        text-align: end;
        border: 3px solid rgb(31, 131, 31);
        border-radius: 6px;
        transition: all ease 150ms;

        &:focus {
          box-shadow: 0 0 6px 0 rgb(31, 131, 31);
        }
      }
    }
  }
  .retiroBtn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0.8em 0;
    font-size: 1.4em;
    font-weight: 600;
    background-color: rgb(197, 240, 197);
    color: rgb(31, 150, 31);
    cursor: pointer;
    transition: all ease 200ms;

    &:hover {
      background-color: rgb(31, 150, 31);
      color: rgb(219, 243, 219);
    }

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
      color: whitesmoke;
    }
  }
}
