.confirmationMessage {
  display: flex;
  position: absolute;
  top: 1em;
  flex-direction: column;
  padding: 1.5em 3em;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(39, 38, 54, 0.466);

  h5 {
    font-size: 1.3em;
    margin-bottom: 2em;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
