.ticketsC {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  .tc-daySales {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(128, 128, 128, 0.301);

    .rvtitle {
      font-size: 1.3em;
      padding: 0.4em;
      background-color: #ff7f44;
      color: rgb(250, 250, 250);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .repoVC {
      display: flex;
      height: 100%;
      .tcds-l {
        display: flex;
        position: relative;
        width: 40%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        border-right: 3px solid rgba(255, 68, 0, 0.26);
      }
      .tcds-r {
        display: flex;
        position: relative;
        width: 60%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
      }
    }
  }
}
